{% extends 'catalog/base.html' %}

{% block content %}

	{% load static %}

	<div class="row">
		<div class="col-md-4">
			<div class="card mb-4 box-shadow">
				<img class="card-img-top" src="/media/contacts/_contacts.jpg?theme=thumb&bg=55595c&fg=eceeef&text=Contacts" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">email: aaa@bbb.ccc</p>
					<p class="card-text">описание: +7 999 123 45 67</p>
					<div class="d-flex justify-content-between align-items-center"></div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}